* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Permanent Marker', cursive; }

.mainframe {
  width: 55vh;
  height: 99vh;
  border-radius: 10px;
  text-align: center;
  background-color: #402929;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  padding-top: 1%; }
  .mainframe [class^="main"] {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.82);
    width: 95%;
    border-radius: 10px;
    text-align: center;
    padding: 1%; }
  .mainframe [class="thumbnail-gen"] {
    border-radius: 10px; }
  .mainframe__imageframe {
    overflow: auto;
    width: 173px;
    height: 55%;
    background-color: #b3f542;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); }
    .mainframe__imageframe--image {
      width: 95%;
      text-align: center;
      background-color: green;
      padding-top: 20%;
      height: 100%; }
      .mainframe__imageframe--imageimg {
        width: 100%;
        height: 100%; }

img {
  width: 100%;
  height: 100%; }

.containerButtons {
  margin-top: 10%;
  height: 33vh;
  width: 55vh;
  overflow: auto; }
  .containerButtons__row {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 3rem; }
    .containerButtons__row--col {
      text-align: center;
      margin-top: 10%;
      width: calc((100% - 12px) / 2); }
      .containerButtons__row--col button {
        transform: scale3d(1.5, 1.5, 1.5);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.82);
        width: 15vh;
        border-radius: 11px;
        cursor: pointer;
        background-color: #7c712e;
        color: greenyellow;
        margin-bottom: 20%;
        transition: all .7s; }
        .containerButtons__row--col button:hover {
          font-size: larger;
          color: gold;
          outline: 0;
          border: none; }
        .containerButtons__row--col button:active {
          transform: translateY(-2px);
          background-color: gold; }

.miniDisplay {
  width: 99%; }
  .miniDisplay__container {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.82);
    transform: scale3d(0.8, 0.8, 0.8);
    border-radius: 12px;
    margin: 0 auto;
    background-color: green; }
    .miniDisplay__container--output {
      perspective: 1000px;
      text-align: left;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.82);
      transform: scale3d(0.8, 0.8, 0.8);
      margin: 0 auto;
      border-radius: 10px;
      background-color: #b3f542;
      width: 90%;
      height: 90%;
      color: #4d4417; }
      .miniDisplay__container--output--front {
        position: absolute;
        top: 0px;
        left: 0px;
        backface-visibility: hidden;
        text-align: left;
        transform: scale3d(0.8, 0.8, 0.8);
        margin: 0 auto;
        border-radius: 10px;
        background-color: #b3f542;
        color: #4d4417;
        transition: all .6s; }
      .miniDisplay__container--output--back {
        position: absolute;
        top: 0px;
        left: 0px;
        backface-visibility: hidden;
        text-align: left;
        transform: scale3d(0.8, 0.8, 0.8);
        margin: 0 auto;
        border-radius: 10px;
        background-color: red;
        transform: scale(0.8);
        color: #b3f542;
        transition: all .6s;
        transform: rotateY(180deg); }
      .miniDisplay__container--output:hover .miniDisplay__container--output--front {
        transform: rotateY(-180deg); }
      .miniDisplay__container--output:hover .miniDisplay__container--output--back {
        transform: rotateY(0);
        transform: scale3d(0.8, 0.8, 0.8); }
      .miniDisplay__container--output p {
        padding: 14px;
        margin: 12px; }
    .miniDisplay__container img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
    .miniDisplay__container .theGlow::after {
      background-color: limegreen; }
    .miniDisplay__container .theGlow:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
